.main {
  &__logo {
    align-self: center;
    padding-top: 26px;
    padding-bottom: 16px;
  }
  
  &__characters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
    margin-bottom: 120px;
  }
}

.filter {
  margin-bottom: 35px;
}

.toast {
  width: 500px;
}

.icon-with-bg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  border: 1px solid #f0f0f0; // опциональная граница
}