.main {
  &__logo {
    align-self: center;
    padding-top: 26px;
    padding-bottom: 16px;
  }
  
  &__characters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
    margin-bottom: 120px;
  }
}

.filter {
  margin-bottom: 35px;
}