.input {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	&_big {
		width: 240px;
		height: 56px;
		border: 1px solid rgba(0, 0, 0, 0.38);
		border-radius: 8px;
		padding-left: 14px;
		padding-right: 15px;
		font-weight: 400;
		font-size: 16px;
		line-height: 119%;
		color: black;
		
		&::placeholder{
			color: rgba(0, 0, 0, 0.6);
		}
	}
	
	&_small {
		height: 30px;
		border: none;
		border-bottom: 1px solid black;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		letter-spacing: 0.01em;
		color: rgba(0, 0, 0, 0.87);
		
		&:focus {
			outline: none;
		}
	}
	
	&_withIcon {
		padding-left: 48px;
	}
	
	&__icon_left {
		position: absolute;
		top: 16px;
		left: 16px;
		width: 24px;
		height: 24px;
	}
}