.status {
	display: flex;
	align-items: center;
	gap: 5px;
	
	&__img {
		width: 10px;
		height: 10px;
		border-radius: 100%;
	}
	
	&__img {
		
		&_alive {
			background-color: #12b800;
		}
		
		&_dead {
			background-color: #df0000;
		}
		
		&_unknown {
			background-color: #ff9900;
		}
	}
}
