.about {
  &__container {
    width: 100%;
  }
  
  &__goBack {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-top: 42px;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}
