.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 60px;
  box-shadow: -2px 0 8px 2px rgb(0 0 0 / 10%);
}
