* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.05em;
  background-color: #ffffff;
  min-width: 320px;
  min-height: 100vh;
}
