.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
 align-items: center;
}
